.game-container{
    width:100vw;
    min-height: 100vh;
    background-color: var(--misc-two);
}

.gameplay {
    position: relative;
    width:100%;
    padding: 3rem 3rem 3rem 3rem;

}

.gameplay img {
    width:100%;
    height:100%;
    object-fit: contain;
}

.select-div {
    position: absolute;
    visibility: hidden;
}

.select-div.visable {
    visibility: visible;
}

.select-highlight {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid red;
    top: -25px;
    left: -25px;
    overflow: visible;
}

.select-options {
    position:absolute;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    background-color: rgba(200, 200, 200, 0.85);
    border-radius: .5rem;
    top: -70px;
    left: -130px;
}

.select-options div {
    font-size: 2rem;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    border-radius: .5rem;
}

.select-options div:hover {
    background-color: rgba(50, 50, 50, 1);
    color: white;
}

.score-div {
    /* top: -10vh;
    left: 20vw;
    width: 60vw;
    height: 10vh;
    z-index: 2; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--sh-dk);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
}


.score-div p {
    font-size: 2.5rem;
    padding: 0rem 0.75rem 0rem 0.75rem;
    border-radius: .5rem;
}

.correct {
    color: green;
}

.end-game {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 4s;
}

.end-game.game-over {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    visibility: visible;
}

.leaderboard-in {
    max-width: 400px;
    background-color: var(--main-bckgnd);
    padding: 2rem 2rem 2rem 2rem;
    border-radius: .75rem;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.50);
}

.leaderboard-in p:nth-child(1) {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--sub-text-lt)
}

.leaderboard-in p:nth-child(2) {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--sub-text-dk)
}

.leaderboard-in div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.leaderboard-in input {
    font-size: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    flex-grow: 1;
}

.leaderboard-in button {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    transition: all 0.3s;
}

.leaderboard-in button:hover {
    background-color: var(--sh-lt);
    color: var(--sub-text);
    transition: all 0.3s;
}


#score-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#score-item img {
    width: 3.5rem;
}

.score-status {
    display: flex;
    flex-direction: row;
}

.svg-container {
    position: relative;
    width: 2.5rem;
}

.svg-container svg {
    /* width: 100%; */
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(1);
    fill: transparent;
}


#score-item.correct svg {
    fill: var(--g1);
}

#error-text {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: var(--error-red);

}

